Repository anweiss/cddl, pull requests merged in 2022-10, with the labels that each got.

#142 Fix optional field validation bug
  src/ast.rs
  src/validator/cbor.rs
  src/validator/json.rs
Labels: bug, validation

#143 Root type for validation
  src/bin/cli.rs
  src/parser.rs
Labels: enhancement, validation

#149 Fix CBOR validation regression
  src/validator/cbor.rs
Labels: validation, cbor, bug fix

#152 Fix int parsing error in wasm
  src/lexer.rs
  www/package-lock.json
Labels: bug fix

#153 change error message on mismatched socket and assignment types
  src/error.rs
Labels: error handling

#155 Fix whitespace bug in arrowmap keys
  src/parser.rs
Labels: parser, bug fix

#147 AST parent pointer implementation
  Cargo.toml
  README.md
  src/ast/mod.rs
  src/ast/parent.rs
  src/lexer.rs
  src/lib.rs
  src/parser.rs
  src/parser_tests.rs
  src/token.rs
  src/validator/cbor.rs
  src/validator/control.rs
  src/validator/json.rs
  src/validator/mod.rs
  src/visitor.rs
  tests/parser.rs
Labels: enhancement

#156 Fix issue parsing type rule with parenthesized type and operator
  src/parser.rs
Labels: parser, bug fix
